<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'form-signin'}) do |f| %>
  <h3 class='form-signin-heading'>Отправить письмо с инструкциями еще раз</h3>
  <hr class='colorgraph'><br>

  <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control' } %>
  <br>
  
  <div class='form-actions'>
    <%= f.button :submit, 'Отправить', class: 'btn-lg btn-primary btn-block' %>
  </div>
  <%= render 'devise/shared/links' %>
<% end %>
