<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Привет! Вы записались на участие в покупке товара <%= link_to @crease.title, crease_url(@crease) %>.</h1>
    <p>Спасибо за регистрацию в складчине! Теперь вам открылись реквизиты на соответсвующей странице,
       также они будут продублированы в момент активации складчины вместе с конечной суммой.</p>
    <p>Удачных  покупок!</p>
  </body>
</html>
