.layout-width
  .jumbotron
    h1.display-3.text-info Pay Squad
    p.lead С помощью нашего приложения вы можете объединяться для покупки различных цифровых товаров в складчину.
    hr.my-4
    p Платите меньше и наслаждайтесь покупкой в полной мере. 

  hr.bg-info
  h3.text-left.text-info Почему мы?
  p.text-justify В ру-нете есть достаточно сервисов, которые позволяют покупать товары в складчину, но все они достаточно стары и выполнены в "старом" стиле форумов. У нас же минималистичный дизайн, который удобен и легок в использовании. Также здесь вы сможете поучавствовать не только в грядущих складчинах, но и тех, что уже завершены.

  h3.text-info Наши преимущества:
  dl.row
    dt.col-sm-3 Надежность
    dd.col-sm-9 К созданию складчин допускаются только проверенные пользователи

    dt.col-sm-3 Простота
    dd.col-sm-9 Купить продукт вы можете в пару кликов

    dt.col-sm-3 Доступность
    dd.col-sm-9 Вы можете учавствовать даже в состоявшихся складчинах

  = render 'connect'

  h3.text-left.text-info Как создать складчину?
  p.text-justify Создавать новые складчины могут только <strong>проверенные пользователи</strong>, которые смогли зарекомендовать себя. Такое решение принято для вашей же безопасности, чтобы человек организовавший покупку не скрылся с вашими деньгами.
  p Если вы обладаете этим правом, то увидите соответствующую ссылку "Организовать складчину" в правом углу меню.

  h3.text-info Что можно купить?
  p.text-justify Покупать можно любые инфопродукты, которые не защищены DRM: скринкасты, книги, курсы, тренинги, видео, аудио тренинги и прочее.
  <!--noindex-->
  blockquote.blockquote.blockquote-reverse
    p.mb-0 DRM — сокращение, расшифровываемое как «digital restrictions management», то есть управление цифровыми ограничениями. Сторонники копирайта обычно расшифровывают это сокращение, как digital rights management. По-русски DRM называется Технические средства защиты авторских прав.
    footer.blockquote-footer wikireality.ru/wiki/DRM
  <!--/noindex-->

  h3.text-info Как поучавствовать в складчине?
  p.text-justify Для того, чтобы поучавствовать в одобренной складчине вам достаточно сделать несколько шагов:
  ol
    li Перейдите на страницу доступных складчин и выберите подходящую.
    li Нажмите на кнопку <strong>"Учавствовать в складчине"</strong>.
    li На указанную при регистрации почту придет письмо с информацией о участие и реквизитами для оплаты.
    li После того как соберется оговоренное количество участников, складчина перейдет в состояние "Активно" и участники должны перевести деньги организатору.
    li Как только соберется вся сумма, автор покупает инфопродукт и прикрепляет его к складчине.
  h3.text-info Как присоединиться к уже завершившейся складчине?
  ol
    li Перейдите на страницу товара.
    li Кликните <strong>Учавствовать в складчине</strong>.
    li Получите реквизиты и оплатите товар.
    li После подтверждения оплаты вы получите товар.
  hr
