/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Play');
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'user_sign_form';
@import 'creases';
@import 'conversations';

$blue: #17a2b8;

body {
  font-family: 'Play', sans-serif;
  font-size: 1.15em;
  margin: 0 auto;
  width: 90%;
}

.layout-width {
  margin: 0 auto;
  width: 70%;
}

h1 {
  font-size: 2rem;
}

h1 small {
  font-size: 65%;
}

.split {
  margin-top: 1.35rem;
  padding: .4rem;
}

.blockquote {
  border-left: .25rem solid #eceeef;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  padding: .5rem 1rem;

  .blockquote-footer {
    float: left;
  }
}

.center {
  text-align: center;
}

.nav-center {
  margin: 0 auto;
  width: 75%;
}

footer .container {
  text-align: center;
}

.alert-notice {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.navbar-toggle .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-light .navbar-brand {
  color: $blue;
  font-size: 1.65rem;
}

.navbar-brand:hover {
  color: rgba(102, 104, 113, 0.9) !important;
  cursor: pointer;
}

.invite {
  border: 2px solid $blue;
  letter-spacing: 3.5px;
  padding: 9px;
}

input.btn {
  cursor: pointer;
}

footer {
  margin: 0 auto;
  width: 68.8%;
}

.link {
  margin: 3px;
}
