// Place all the styles related to the Creases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dark-blue: #245973;

.new_crease {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

#create_crease {
  float: left;
  margin-top: 10px;
}

.crease {
  margin: 0 auto;
  text-align: center;
  width: 70%;

  h1 {
    text-align: left;
  }
}

.info {
  border-radius: 4px;
  padding: 15px 10px;
  text-align: left;

  p {
    margin-bottom: .1rem;
  }
}

.custom-btn {
  min-width: 70%;
}

.description {
  text-align: left;
}

.tooltip .tooltip-inner {
  background-color: $dark-blue;
  border-radius: 4px;
}

.badge {
  border-radius: 10px;
  padding: 3px 7px;
}

.card-blockquote p {
  margin: 1rem;
}
