<p>Здравствуйте, <%= @email %>!</p>

<p>Создание вашей учетной записи почти завершено.</p>
<p>Перейдите по ссылке ниже для подтверждения адреса электронной почты.</p>

<p><%= link_to 'Подтвердить мой аккаунт', confirmation_url(@resource, confirmation_token: @token) %></p>
