<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку на изменение пароля от учетной записи. Вы можете сделать это по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если запрос сделали не вы, пожалуйста проигнорируйте это сообщение.</p>
<p>Ваш пароль не будет изменен до тех пор, пока вы не пройдете по ссылке и не введете новый.</p>
